.lavishly-yours {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
}

@keyframes fade {
    to {
        opacity: 1;
        filter: brightness(1);
    }
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8efff;
    font-size: 15px;
    letter-spacing: 0.5px;
}

#startDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/estradenStart.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    filter: brightness(0);
    animation: fade 3s ease forwards;
}

#headerBild {
    width: 100%;
}

#startHead,
#estraden {
    text-align: center;
    font-size: 80px;
    color: #6F4E37;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: #6F4E37;
}

#startHead {
    align-self: center;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 3%;
    border-radius: 10px;
}

nav {
    width: 35%;
}

nav ul {
    display: flex;
    width: 100%;
    text-align: center;
    gap: 40px;
    list-style: none;
    padding: 0;
}

nav ul li {
    width: 100%;
}

#startChoices li a {
    color: white;
    font-weight: 500;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5% 8%;
}

#startChoices li a:hover {
    background-color: black;
}

p {
    text-align: center;
    max-width: 70ch;
    margin: 0 auto;
}

#guestNavStart,
#guestNav {
    display: flex;
    justify-content: center;
    margin: 8% auto 0;
}

#guestNav {
    margin: 3% auto;
}

#guestMenu {
    display: flex;
    list-style: none;
    padding: 0;
}

#guestMenu li a {
    color: black;
    font-size: 18px;
}

#guestMenu li a:hover {
    font-weight: 500;
}

#guestPicDiv {
    display: flex;
    justify-content: center;
    gap: 8%;
    margin: 10% 2%;
}

#sandwich,
#pasta,
#pizza {
    width: 100%;
    box-shadow: 1px 1px 1px grey;
}

h2,
h3 {
    text-align: center;
}

#restaurantImg {
    display: block;
    width: 70%;
    margin: 10% auto;
}

#openingHours,
#findUs {
    margin: 10% auto;
}

#lunch,
#dinner,
#contactInfo {
    line-height: 2.5em;
}

#reservationForm {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 6% auto;
    border: 1px solid #6F4E37;
    padding: 4%;
    background-color: white;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
    margin-bottom: 5%;
    padding: 1%;
    border: 1px solid #6F4E37;
}

#reservationButton {
    padding: 1.5%;
    border: 1px solid #6F4E37;
    background-color: #ECB176;
    width: 45%;
    border-radius: 5px;
}

#reservationButton:hover {
    background-color: #FED8B1;
}

#confimation {
    width: 55%;
    margin: 6% auto;
    border: 1px solid #6F4E37;
    padding: 2%;
    background-color: white;
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 3% 0;
}

footer nav ul {
    display: flex;
    list-style: none;
    padding: 2%;
}

footer nav ul li,
footer nav ul li a {
    text-decoration: none;
    color: white;
}